.o_init_tree_view {
    .o_tree_view {
        width: 100%;

        .o_tree_toggle {
            cursor: pointer;
            margin-right: 5px;
        }

        .o_tree_leaf_spacer {
            display: inline-block;
            width: 14px;
        }

        .o_tree_node {
            white-space: nowrap;
        }
        
        .o_tree_node_content {
            display: inline-block;
        }
    }
}