.ks_cr_body_client{
    overflow : visible !important;
}
/*.o_form_view .o_inner_group{*/
/*        grid-template-columns: fit-content(100%) 1fr;*/
/*    }*/
.o_form_view .show_full_in_1_group{
        grid-template-columns: fit-content(100%) 1fr;
    }
    .o_form_view .o_inner_group .o_cell.flex-grow-1.flex-sm-grow-0{
        width: 100% !important;
    }
    /*.o_form_view .o_inner_group{*/
    /*    grid-template-columns: fit-content(100%) 1fr;*/
    /*}*/
    .o_form_view .o_inner_group .o_cell.flex-grow-1.flex-sm-grow-0{
        width: 100% !important;
    }
    /* .o_form_view .o_inner_group{*/
    /*    grid-template-columns: fit-content(100%) 1fr;*/
    /*}*/
    .o_form_view .o_inner_group .o_cell.flex-grow-1.flex-sm-grow-0{
        width: 100% !important;
    }
    /*   .o_form_view .o_inner_group{*/
    /*    grid-template-columns: fit-content(100%) 1fr;*/
    /*}*/
    .o_form_view .o_inner_group .o_cell.flex-grow-1.flex-sm-grow-0{
        width: 100% !important;
    }