<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <record id="dpt_shipping_slip_chinese_action" model="ir.actions.act_window">
        <field name="name">Shipping slip Chinese</field>
        <field name="res_model">dpt.shipping.slip</field>
        <field name="type">ir.actions.act_window</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[('vehicle_country','=', 'chinese')]</field>
    </record>

    <record id="dpt_shipping_slip_vietnamese_action" model="ir.actions.act_window">
        <field name="name">Shipping slip Vietnamese</field>
        <field name="res_model">dpt.shipping.slip</field>
        <field name="type">ir.actions.act_window</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[('vehicle_country','=', 'vietnamese')]</field>
    </record>

    <record id="dpt_stock_quant_vietnamese_action" model="ir.actions.act_window">
        <field name="name">Stock Quant Vietnamese</field>
        <field name="res_model">stock.quant</field>
        <field name="type">ir.actions.act_window</field>
        <field name="view_mode">tree,form</field>
        <field name="view_ids" eval="[(5, 0, 0),
                (0, 0, {'view_mode': 'tree', 'view_id': ref('dpt_shipping.stock_quant_shipping_inherit')}),
            ]"/>
        <field name="domain">[('location_id.warehouse_id.is_main_outgoing_warehouse','=', True)]</field>
        <field name="context">{'hide_location': True}</field>
    </record>

    <menuitem id="shipment_root_menu" name="Shipment"
              web_icon="dpt_shipping,static/description/icon.png">
        <menuitem id="dpt_shipping_slip_chinese_menu" name="Shipping slip Chinese" sequence="10"
                  action="dpt_shipping_slip_chinese_action"/>
        <menuitem id="dpt_shipping_slip_vietnamese_menu" name="Shipping slip Vietnamese" sequence="20"
                  action="dpt_shipping_slip_vietnamese_action"/>
        <menuitem id="dpt_stock_quant_vietnamese_menu" name="Vietnamese Stock" sequence="30"
                  action="dpt_stock_quant_vietnamese_action"/>
    </menuitem>

</odoo>